
.HI {
    margin-bottom: 4cqb; 
  }
  


  select {
    width: 100%; 
    padding: 8px; 
    border: 1px solid gray;
    border-radius: 8px; 
    font-size: 16px;
    background-color: white;
  }
  .editinput{
    width: 370px; 
    display: block;
  }

  option {
    font-size: 16px; 
  }
  