.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 0px 50px 0px 50px ;
    margin-top: 30px;
  }
  

  
  .input{
    padding: 5px;
    border-radius: 5px;
    max-width: 100px;
    max-height: 30px;
    border: 0.5px solid gray;
  
  }

  /* .input-container label,
.input-container input {
  display: inline-block;
  vertical-align: middle; 
} */
.input-container label {
    display: inline-block;
    width: 150px; 
  }
  
  .input-container input {
    display: inline-block;
    width: calc(100% - 150px); 
  }
  

  /* .bg-back-pattern{
    position: relative;
  }

  .hello {
    position: relative; 
    top: 85px;
    left: 375px; 
  }
  .next{
    position: relative; 
    top: 470px;
    right: 75px; 
  } */

  /* .bg-back-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    z-index: -1; 
  }
  
  .bg-form-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw; 
    height: 100%; 
    z-index: 0; 
    
  }
   */